<!DOCTYPE html>
<html>

<head>
    <title>About the project.</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" media="screen" />
</head>

<body>
    <div class="container-left">
        <div class="item">
            <h2>
                About the project.
            </h2>
        </div>
    </div>
    <div class="container-left">
        <div class="item">
            <p>
                Elapse is a project by Gaby Clarke and Alex Hoppe.  Find more about the project in our <a href="https://github.com/aehoppe/Elapse.git">Github repo</a>.
            </p>
        </div>
    </div>
</body>

</html>