<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> 
        About.
    </title>
    <link rel='shortcut icon' href='./static/images/icon.png' />
    <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="./static/images/logoLong.png" height="20"></a>
            </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/upload">Use Elapse.</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About the project. <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about">Overview.</a></li>
                        <li><a href="/implementation">Implementation.</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="header">
                    <h2>
                        About the project.
                    </h2>
                </div>
                <p>
                    Elapse was developed in the Spring of 2016 for Software Design, a course at <a href="www.olin.edu">Olin College of Engineering</a>.  Software Design is an introduction to computation and software taught in Python.
                </p>
                <p>
                    When selecting a final project topic, we wanted to do something involving visual design or data visualization, and we were both interested in learning how to develop for the web.  We decided that a webapp which allowed users to visualized how their time is distributed suited our interests well, and also is relevant to the life of the overbooked Oliner.
                </p>
                <p>
                    This project was developed by <a href="https://github.com/gabyclarke">Gaby Clarke</a> and <a href="https://github.com/aehoppe">Alex Hoppe</a>.  
                </p>
                <p>
                    At the time of development, Gaby was a sophomore at Olin College of Engineering studying Design.  For the final project, Gaby’s learning goals included learning about visual design for web interfaces, data visualization, agile development, and working with branches in git.
                </p>
                <p>
                    Alex will probably have some stuff here...
                </p>
                <br>
                <p>
                    To use Elapse, simply click <i>Use Elapse</i> in the navigation bar.  If you would like to run Elapse locally, we recommend you first learn more about how we created Elapse in <a href="/implementation"><i>Implementation</i></a>, then fork the source code from our <a href="https://github.com/aehoppe/Elapse">Github repository</a>.  The repository’s README contains all necessary information for running Elapse locally, including all dependency information.
                </p>

                <p>
                    Documentation for our mid-project assignments, such as our technical and code reviews, can be found in the <a href="https://github.com/aehoppe/Elapse/tree/master/documentation">documentation directory of our Github repository</a>.  View our final project poster, which provides a brief overview of the project and its architecture, either in the <a href="https://github.com/aehoppe/Elapse/tree/master/documentation">documentation directory</a> or <a href="">here</a>.
                </p>
                <br><br><br>
                <div align="center">
                    <img src="./static/images/logoLong.png" height="65">
                </div>
                <br>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    
</body>

</html>