<!DOCTYPE html>
<html lang="en">
<head>
    <title>Choose your vis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" media="screen" />
</head>
<body>
    <h5>Choose a time visualization</h5>
    <form action="/choose" method="POST" enctype="multipart/form-data" name="vizzes">
        <input type="radio" name="visChoice" value="stackedArea" required>Stacked area<br>
        <input type="radio" name="visChoice" value="donut" required>Donut<br>
        <input type="submit" value=">">
    </form>
</body>
</html>