<!doctype html>
<html>

<head> 
    <title> 
        Elapse
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" media="screen" />
</head>

<body>
    <div class="container-index">
        <div class="item">
            <h1>
                Elapse
            </h1>
        </div>
    </div>

    <div class="container-index-nav">
        <div class="item">
            <h3>
                <a href="/upload">Use Elapse.</a>
            </h3>
        </div>
        <div class="item">
            <h3>
                <a href="/about">About the project.</a>
            </h3>
        </div>
    </div>
</body>

</html>