<html>
<head> 
    <title> 
        UPLOAD PAGE v1.0
    </title>
    <script type="text/javascript">
        // var dateRangeStart = document.getElementByID("dateRangeStart")
        // document.getElementById("dateRangeStart").value = new Date().toISOString().substring(0, 10);
        // document.getElementById("dateRangeEnd").value = document.getElementById("dateRangeStart").stepUp(7);
        var x = document.getElementById("dateRangeStart");
        print x
    </script>
</head>
<body>
    <h3>
        Use Elapse
    </h3>
    <form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data" name="icalUpload">
        <h5>
            Upload your calender information as a .ics file
        </h5>
        <input type="file" name="icalFile" required="True">
        <br>
        <h5>
            Select a week to visualize
        </h5>
        <input type="date" name="dateRangeStart" id="dateRangeStart" value="">
        to
        <input type="date" name="dateRangeEnd" id="dateRangeEnd" value="">
        <!-- {{ form.hidden_tag() }} -->
        <input type="submit" value=">">
    </form>
</body>