<!doctype html>
<html>
<head>
    <title>
        Upload.
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" media="screen" />
    <script type="text/javascript">
        // var dateRangeStart = document.getElementByID("dateRangeStart")
        // document.getElementById("dateRangeStart").value = new Date().toISOString().substring(0, 10);
        // document.getElementById("dateRangeEnd").value = document.getElementById("dateRangeStart").stepUp(7);
        function loadFile() {
            var icalFile = document.getElementById("icalFile").value;
            console.log(icalFile);
        }
        function loadStartDate() {
            var dateRangeStart = document.getElementById("dateRangeStart").value;
            console.log(dateRangeStart);
            // document.getElementById("dateRangeEnd").value =
            // document.getElementById("dateRangeStart").stepUp(7);
            // console.log(dateRangeStart);
        }
        function loadEndDate() {
            var dateRangeEnd = document.getElementById("dateRangeEnd").value;
            // dateRangeEnd = dateRangeStart + 7
            console.log(dateRangeEnd);
        }

    </script>
</head>
<body>
    <div class="container-left">
        <div class="item">
            <h2>
                Use Elapse.
            </h2>
        </div>
    </div>
    <form action="" method="POST" enctype="multipart/form-data" name="icalUpload">
        <div class="container-center">
            <div class="item">
                <h4>
                    <span title="You can export your entire calendar as a .ics file!">To start, upload your calendar information as a .ics file</span>
                </h4>
                <br>
                <input type="file" name="icalFile" id="icalFile" required>
            </div>
            <div class="item">
                <h4>
                    Select a week to visualize
                </h4>
                <br>
                <input type="date" name="dateRangeStart" id="dateRangeStart" value="" required>
                to
                <input type="date" name="dateRangeEnd" id="dateRangeEnd" value="" required>
            </div>
        </div>
        <div class="container-nav">
            <div class="item">
                <a href="/index"> Back</a>
            </div>
            <div class="item">
                <input type="submit" value=">">
            </div>
        </div>
    </form>
</body>
